
@font-face {
    font-family: "rac";
    src: url("/quartzo-font/QuartzoBold-W9lv.ttf") format("truetype");
}

.match{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px 0;
    background: #dbdee4 ;
    border-top: 1px solid black;
}
.match h2{
    font-family: "Poppins";
    font-size: 42px;
    letter-spacing: 0px;
    color: #22C55E;
    /* text-shadow: 0 0 15px rgba(239,68,68,0.6); */
    
}
.match .all {
    width: 40%;
    border-radius:10px;
    border: 1px solid black;
    padding: 30px;
    /* backdrop-filter: blur(10px); */
    font-family: "rac";
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    background: linear-gradient(135deg, #79d89c, #ffe0b2);
}



.all:hover {
    transform: translateY(-8px) scale(1.01);
    box-shadow: 0 25px 60px rgba(0,0,0,0.6);
}

b{
    font-family:Arial, Helvetica, sans-serif;
    /* font-family: 20px; */
}
a{
    text-decoration: dashed;
}

.buttons button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    font-family: "Poppins";
    background-color:#22C55E;
    color: black;
    cursor: pointer;
}
.buttons button:hover{
    background:rgb(39, 133, 39);
    transform: translateY(-2px);
    
}
.buttons {
    display: flex;
    flex-direction: row !important;   
    gap: 15px;
    justify-content: center;
}
.all .predict{
    font-family: "Poppins";
    background-color: rgb(218, 218, 67);
    font-size: 20px;
    color: #ef4444;
    letter-spacing: 0px;
}

.all .team span {
    font-family: "Poppins";
    font-size: 20px;
    text-align: center;
    color: black;
    letter-spacing: 0px;
}

.teams {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;          
}

.team {
    display: flex;
    flex-direction: column;   
    align-items: center;
    text-align: center;
    gap: 20px;
    transition: 0.3s;
}
.team:hover {
    transform: scale(1);
}

.vs {
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #facc15;
    white-space: nowrap;
}

.team img{
    height: 85px;
    width: 85px;
    object-fit: contain;
}

.all h2 {
    font-family: "Poppins";
  font-size: 32px;
  letter-spacing: 0px;
}

.all p {
    font-family: "Poppins";
  font-size: 16px;
  letter-spacing: 0px;
}

.team span {
  font-size: 15px;
  font-weight: 600;
  color: #e2e8f0;
  text-align: center;
  letter-spacing: 1px;
}
.predict {
    font-size: 20px;
    font-weight: 600;
    color: #4ade80;
}

.predict.closed {
    color: #ef4444;
}

.countdown b{
    font-size: 18px;
    color: rgb(236, 89, 89);
    font-family:"Poppins";
    letter-spacing: 0px;
}
p {
    color: grey;   /* brighter */
    font-size: 17px;
    letter-spacing: 0.8px;
}
.countdown b{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
button {
    padding: 12px 20px;
    border-radius: 12px;
    background: linear-gradient(45deg, #22c55e, #16a34a);
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover {
    transform: scale(1.1);

}

.all {
    border: 1px solid rgba(255,255,255,0.08);
}
.team span {
    margin-top: 5px;
    line-height: 1.4;
}

.all .predict{
    border-radius: 5px;
    padding: 20px;
}

.today-match {
    border: 2px solid #ff9800;
    background: linear-gradient(135deg, #79d89c, #ffe0b2);
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.4);
}

.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.filter-buttons button{
    border-radius: 5px;
    font-family: "Poppins";
    border: none;
    border: 1px solid black;
    cursor: pointer;
}

.filter-buttons button:hover{
    background: #1b8b46;
    color: white;
}


.team img:hover{
    transform: scale(1.1);
}



@media screen and (max-width:420px){
    .all .predict{
        width: 270px;
    }
    .match .all{
        width: 350px;
        gap: 15px;
    }
    .teams{
        padding-bottom: 30px;
        border-bottom: 1px solid black;
    }
    .team img{
        width: 60px;
    }
    .teams .team span{
        font-size: 15px;
    }
    .all p{
        font-size: 14px;
    }
    .all .predict{
        padding: 10px;
        font-size: 10px;
        text-align: center;   
    }
    .buttons button{
        padding:10px;
        font-size:10px;
        letter-spacing: 0px;
    }
    .filter-buttons{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .filter-buttons button{
        padding: 10px;
        width: 150px;
    }
    .match{
        padding: 10px;
        gap: 24px;

    }
}
@media screen and (max-width:420px){
    .all .predict{
        width: 270px;
    }
    .match .all{
        width: 350px;
        gap: 15px;
    }
    .teams{
        padding-bottom: 30px;
        border-bottom: 1px solid black;
    }
    .team img{
        width: 60px;
    }
    .teams .team span{
        font-size: 15px;
    }
    .all p{
        font-size: 14px;
    }
    .all .predict{
        padding: 10px;
        font-size: 10px;
        text-align: center;   
    }
    .buttons button{
        padding:10px;
        font-size:10px;
        letter-spacing: 0px;
    }
    .filter-buttons{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .filter-buttons button{
        padding: 10px;
        width: 150px;
    }
    .match{
        padding: 10px;
        gap: 24px;

    }
}

@media screen and (max-width:380px){
    .match .all{
        width:330px;
    }
    button{
        padding: 5px;
        border-radius: 5px;
    }
    .countdown b{
        font-size: 15px;
    }
}
